#gen-outer {
    display: none;
}

#gen-outer .message {
    background: white;
}

#gen-outer a {
    word-break: break-all;
}

#out-wrap {
    display: none;
}

.credits a {
    color: #eee;
    text-decoration: underline;
}

.credits a:hover {
  color: white;
}
